__pycache__/
image_model/results/
image_model/inference/
image_model/models/
image_model/textiles/
.history
image_model/wandb/
wandb/
*.wandb
t_t.png
image_model/results_finetune/003-texmet-JPDVT-crop
